* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('table.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.game {
    background-color: #16a31d6e;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000;
}

#message-el, #cards-el, #sum-el {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

button {
    background-color: #09c012ad;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #32cc32;
}

button:active {
    background-color: #53f85c;
}

#player-el {
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: bold;
}

